{% extends "accounts/index.html" %}

{% load pagination %}

{% block title %}
    Pedido #{{ order.pk }}
{% endblock %}

{% block accounts_container%}
    <h2 > Pedido #{{ order.pk }}</h2 >

    <dl class="dl-horizontal">
        <dt>Total R$</dt>
        <dd>{{ order.total|floatformat:"2" }}</dd>
        <dt>Situação</dt>
        <dd>{{ order.get_status_display }}</dd>        
        <dt>Data</dt>
        <dd>{{ order.created|date:"d/m/Y H:i" }}</dd> 
        <dt>Meio de Pagamento</dt>
        <dd>{{ order.get_payment_option_display }}</dd>         
    </dl>

    <h3>Itens do Pedido</h3>
    {% for item in order.items.all %}
    <dl class="dl-horizontal">
            <dt>Produto</dt>
            <dd>{{ item.product }}</dd>        
            <dt>Quantidade</dt>
            <dd>{{ item.quantity }}</dd>        
            <dt>Preço</dt>
            <dd>{{ item.price|floatformat:"2" }}</dd>                                      
        </dl>  
    {% endfor %}


{% endblock %}